.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.visually-hidden {
  position: absolute;
  left: 0;
  top: -1000px;
  width: 1;
  height: 1;
  overflow: hidden;
}

.container-standard {
  max-width: var(--max-width-desktop);
  margin: 1rem auto;
}
