.modal {
  background-color: rgba(0, 0, 0, 0.85);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 1;
  display: grid;
  place-items: center;
}

.modal:empty {
  display: none;
}

.modal > div {
  padding: 4rem 2rem 2rem;
  position: relative;
  font-size: var(--fs-200);
  font-weight: var(--fw-regular);
  border-radius: 0.5rem;
  background-color: var(--color-primary-100);
  animation: toFront 0.45s ease-out both;
}

@keyframes toFront {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
